version: "2"
services:
  data:
    image: busybox
    volumes:
      - ../:/services:rw
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/ca-certificates/:/etc/ca-certificates/:ro
  core:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/core migrate && exec ./scripts/start-core.sh'
    ports:
      - 127.0.0.1:3004:3004
      - 127.0.0.1:6060:6060
  elasticsync:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
      - nats
      - elastic
    command: sh -c './bin/elasticsync migrate && exec ./bin/elasticsync start'
  mail:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/mail migrate && exec ./bin/mail start'
  sms:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/sms migrate && exec ./bin/sms start'
  push:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/push migrate && exec ./bin/push start'
  chat:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/chat migrate && exec ./bin/chat start'
  auth:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/auth migrate && exec ./bin/auth start'
  api:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
      - redis
    command: bin/api start
    ports:
      - 127.0.0.1:8081:8081
      - 127.0.0.1:6061:6060
  db:
    image: "k0st/alpine-postgres"
    environment:
      POSTGRES_PASSWORD: 1234
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - dbdata:/var/lib/postgresql/data/pgdata:rw
    ports:
      - "127.0.0.1:5432:5432"

  elastic:
    image: elasticsearch:latest
    volumes:
      - elasticdata:/usr/share/elasticsearch:rw
    ports:
      - 127.0.0.1:9200:9200
      - 127.0.0.1:9300:9300
    command: elasticsearch

  telegram:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: bin/telebot start

  fetcher:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: sh -c './bin/fetcher migrate && exec ./bin/fetcher start'

  savetrend:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: bin/savetrend start

  wantit:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: bin/wantit start

  payments:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/payments migrate && exec ./bin/payments start'
    ports:
      - 127.0.0.1:7777:7777
      - 127.0.0.1:7780:7780

  mandible:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: sh -c 'exec ./bin/mandible'
    ports:
      - 127.0.0.1:8089:8089

  nats:
    image: "nats"
    ports:
      - 127.0.0.1:8222:8222

  redis:
    image: redis
    ports:
      - 127.0.0.1:6379:6379

volumes:
  dbdata: {}
  influxdata: {}
  elasticdata: {}
