version: "2"
services:
  data:
    image: busybox
    volumes:
      - ../:/services:rw
      - /etc/ssl/certs:/etc/ssl/certs:ro

  core:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/core migrate && exec ./scripts/start-core.sh'
    ports:
      - 127.0.0.1:3004:3004
      - 127.0.0.1:6060:6060
  mail:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/mail migrate && exec ./bin/mail start'
  sms:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/sms migrate && exec ./bin/sms start'
  chat:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/chat migrate && exec ./bin/chat start'
  auth:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/auth migrate && exec ./bin/auth start'
  api:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
      - redis
    command: bin/api start
    ports:
      - 127.0.0.1:8081:8081
      - 127.0.0.1:6061:6060
  db:
    image: "postgres:9.3"
    environment:
      POSTGRES_PASSWORD: 1234
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - dbdata:/var/lib/postgresql/data/pgdata:rw
    ports:
      - "127.0.0.1:5432:5432"

  telegram:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: bin/telebot start

  fetcher:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: sh -c './bin/fetcher migrate && exec ./bin/fetcher start'

  savetrend:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: bin/savetrend start

  wantit:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    command: bin/wantit start
  payments:
    image: debian:jessie
    volumes_from:
      - data
    working_dir: /services/
    depends_on:
      - db
    command: sh -c './bin/payments migrate && exec ./bin/payments start'
    ports:
      - 127.0.0.1:7777:7777
      - 127.0.0.1:7780:7780

  nats:
    image: "nats"
    ports:
      - 127.0.0.1:8222:8222
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 127.0.0.1:1080:1080
  images:
    image: girokon/mandible
    ports:
      - 127.0.0.1:8087:8080
    volumes:
      - ./mandible:/etc/mandible
  redis:
    image: redis
    ports:
      - 127.0.0.1:6379:6379
  influxdb:
    image: influxdb:alpine
    ports:
      - 127.0.0.1:8083:8083
      - 127.0.0.1:8086:8086
    volumes:
     - influxdata:/var/lib/influxdb:rw
  grafana:
    image: grafana/grafana
    ports:
      - 127.0.0.1:3000:3000

volumes:
  dbdata: {}
  influxdata: {}
