{{ $context := . }}
{{ $inputs := filter_list $context  }}

{{ range $input := $inputs }}
  {{ $meta := $input.Meta }}
  {{ $resource := $meta.GetBaseResource }}
  {{ $input_id := $meta.Name }}
  {{ $view_url := ajaxor_url $context $resource nil }}
  {{ $filter_name := printf "filters[%v]" $input.FilterName }}

  {{ if eq $input.Type "select_one" }} 

    <div class="qor-actions" data-toggle="qor.filter">
    <select class="qor-field__input" id="{{$input_id}}" style="width: 150px;" name="{{$filter_name}}" placeholder="{{ $input.Placeholder }}">
    {{ range $value := filter_values $context $input }}
      <option value="{{ primary_key_of $value }}" selected>{{ stringify $value }}</option>
    {{ end }}
    </select>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        initMeta({{$input_id}}, {{$view_url}}, {{resource_name $meta}}, {{$meta.Name}}, {{$meta.Label}});
      })
    </script>
    </div>
  {{ else if eq $input.Type "date"}}

    <div class="qor-actions" data-toggle="qor.filter">
      <input class="qor-action--label qor-field__input" style="width: 120px; height: 25px;"  data-toggle="qor.datepicker" type="text" id="{{$input_id}}" name="{{$filter_name}}" value="{{filter_value $context $input}}" onchange="onFilterChangeValue(this)" placeholder="{{ $input.Placeholder }}">
    </div>
  {{ else }}
    <div class="qor-actions" data-toggle="qor.filter">
      <p> Unsupported meta type </p>
    </div>
  {{ end }}

{{ end }}

<div class="qor-actions" data-toggle="qor.filter">
  <p> Total {{ .Searcher.Pagination.Total }} results found </p>
</div>
