<div class="qor-actions qor-bottomsheet__filter" data-toggle="qor.filter">
	<input class="qor-action--label qor-field__input" style="width: 120px; height: 25px;"  data-toggle="qor.datepicker-fix" type="text" name="{{.InputNamePrefix}}.Value" onchange="alert(this.value)" oninput="alert('wtf')" placeholder="{{ .Filter.Label }}">
</div>

