<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">

    <div class="qor-field_edit" style="width: 100%;">
      <img src="{{.Value}}" style="width: 100%;" id="{{.InputId}}" name="{{.InputName}}">
    </div>

  </div>
</div>
